%html
  %head
    %link(rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    %link(rel='stylesheet' href="/css/app.css")
    %script(src="http://code.jquery.com/jquery-1.12.1.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  %body
    %nav.navbar.navbar-default.navbar-static-top.navbar-inverse
      %ul.navbar-nav.nav
        %li
          %a(href="/") Home
        %li
          %a(href="/issues/new") New Issue
    .container
      - if flash[:alert]
        .flash.bg-danger=flash[:alert]
      - if flash[:warning]
        .flash.bg-warning=flash[:warning]
      - if flash[:notice]
        .flash.bg-success=flash[:notice]
        
      =yield
